.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .s1 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s0 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s3 {
    border-right: none;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}
.softmerge-inner {
    text-align: center;
}
table {
    width: 100%;
}
th {
    width: 11.25%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}